page-fetch {
    h5 {
        color: #3474e1;
        text-align: center;
    }
    ion-card-content {
        user-select: all;
    }
    .note {
        border-left: 5px #ccc solid;
        padding-left: 5px;
        color: #ccc;
    }
}