page-home {
    textarea {
        width: 100%;
        height: 12em;
        background: #FEFEFE;
        // background: #ccc;
    }
    ion-content {
        h1,
        h2 {
            text-align: center;
        }
    }
    button.share {
      height: 40px;
      font-size: 28px;
    }
}